.carousel {
  width: 100%; /* Larghezza del carosello */
  position: relative; /* Necessario per il padding-bottom */
}

.carousel-cell {
  width: 90%; /* Si adatta alla larghezza del carosello */
  position: absolute; /* Per fare in modo che il padding-bottom funzioni correttamente */
  top: 0;
  left: 0;
  margin: 20px 10px 20px 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px #090a0f;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Aggiungi un bordo sulle celle quando sono hoverate */
.carousel-cell:hover {
  border: 3px solid white;
} /* Cambia colore, forma e dimensione */
.flickity-prev-next-button {
  background: none; /* Colore di sfondo */
  width: 4%; /* Larghezza */
  border-radius: 0;
  height: 90%;
  color: white;
  margin: 0;
}
/* Nascondi gli SVG di default */
.flickity-button > svg {
  display: none;
  width: 30% !important;
  margin: 0 auto;
  transition: all 0.3s !important;
}

/* Mostra gli SVG solo quando si passa sopra il bottone */
.flickity-button:hover > svg {
  display: block;
  transition: all 0.3s !important;
}

.flickity-prev-next-button:focus {
  background: none;
  border: none;
  outline: none;
}
.flickity-prev-next-button:hover {
  background: none;
}

.flickity-button:focus {
  box-shadow: none;
}
.flickity-page-dot{
    width: 7px;
    height: 7px;
    background: #969eab;
}
.flickity-page-dot.is-selected{
    background: #f9f9f9;
}
.flickity-page-dot:focus{
    box-shadow: none;
}
.flickity-page-dots{
    bottom: -10px;
}