@import "tailwindcss";

.NavBarBackground {
     background: linear-gradient(to bottom, #08090d 0%, #181a25 100%);
}
body{
     background: linear-gradient(to bottom, #181a25 0%, #282d3d 100%);
     background-color: #282d3d;
     /* height: 100%; */
     background-repeat: no-repeat;
     background-attachment: fixed;
     width: 100%;

}

.navbarLinkA {
     position: relative;
     display: inline-block;
     padding-bottom: 5px; /* Optional: Add some padding to give space for the border */
     text-decoration: none; /* Remove underline if any */
     
 }
 
 .navbarLinkA::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0; /* Start with no border */
     height: 2px; /* Border thickness */
     background-color: #fff; /* Change to desired color */
     transition: width 0.3s ease; /* Smooth transition */
 }
 
 .navbarLinkA:hover::after {
     width: 100%; /* Expand to full width on hover */
 }
 
 .carousel-cell {
     height: 65vh;
     aspect-ratio: 2.8 / 1; /* Per un ratio 16:9. Se preferisci un look più cinematografico, usa 2.39/1 */
     margin-right: 20px;
     transition: all 0.2s ease-in;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     overflow: hidden; /* Importante per evitare che il contenuto esca dai bordi */
 }
 
 .carousel-cell img {
     width: 100%;
     height: 100%;
     object-fit: cover; /* L'immagine riempie la cella mantenendo il suo rapporto */
 }
 .carousel-cell:hover{
     border: 3px solid white;
 }